<li class="list-group-item">
	{{name}}
	<button class="change-devoured btn btn-primary btn-sm" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}EAT!{{else}}UNEAT!{{/if}}
	</button>
</li>
